{% extends 'base.html' %}

{% block title %}Post Feed{% endblock %}
{% block head_extra %}<script src="/static/post_list_script.js"></script>{% endblock %}

{% block content %}
{% for post,is_liked in post_list %}
    <script>like_counts.set("post_{{post.pk}}",{{post.likes.count}});</script>
    <div class="card post" id="post_{{post.pk}}">
        <div class="card-head">
            <p>{{post.author.username}} posted at {{post.pub_time}}:</p>
        </div>
        <div class="card-body">
            <pre><p>{{post.text}}</p></pre>
        </div>
        <div class="card-footer">
            <span class="like_count card-text"></span>
            <span class="btn-group btn-group-sm">
                <button class="like_unlike_button btn btn-primary" type="button">
                    {% if not is_liked %}
                        like
                    {% else %}
                    unlike
                    {% endif %}
                </button>
                <a href="{% url 'likes' %}?post_id={{post.pk}}" class="btn btn-info">See likes</a>
            </span>
        </div>
    </div>
{% endfor %}
{% endblock %}